<div class="wrapper">
    <!-- Sidebar -->
    <aside class="section-sidebar" id="sidebar">
        <div >
            <div class="sidebar-logo">
                <h3>Purchasing System</h3>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link">
                        <i class="fa-solid fa-gauge"></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link">
                        <i class="fa-solid fa-barcode"></i>
                        Articulos
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link">
                        <i class="fa-solid fa-cart-shopping"></i>
                       Ordenes de compras
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link">
                        <i class="fa-solid fa-house"></i>
                        Departamentos
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link">
                        <i class="fa-solid fa-users"></i>
                        Proveedores
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link">
                        <i class="fa-brands fa-unity"></i>
                        Unidad de medida
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- Main Component -->
    <div class="main">
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mt-5">
                    <router-outlet> </router-outlet>
                </div>
            </div>
        </main>
    </div>
</div>