

//imports globales
@import url('./global-styles/sidebar.scss');
@import url('./global-styles/table.scss');


//boostrap
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #F2F6FC;
}

// common css
.background-primary {
  background-color: #1ABC9C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 18px;
}

.icon-acciones {
  font-size: 30px;
  margin: 4px;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
















