<h2>Unidad de medidas</h2>


<button type="button" class="btn btn-primary mb-5">Agregar</button>

<table class="table section-table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>
        <div class="d-flex justify-content-around">
          <div>
            <i class='bx bxs-edit icon-acciones' style="color: #4a6c6f;"></i>
          </div>
          <div>
            <i class='bx bx-trash icon-acciones' style="color: #ef271b;"></i>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>